/* link fonts */
@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
/* common css */
ol,ul{
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
}
img{
    width: 100%;
    vertical-align:middle;
}
.commonHead h1{
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    font-family: var(--ubuntu);
    color: var(--brandColor);
    margin-bottom: 34px;

}
.commonHead p{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    font-family: var(--ubuntu);
    color: var(--brandColor);
}
:root{
    --ubuntu:"Ubuntu", sans-serif;
    --brandColor:#42454A;
}
/* navbar */
.mainNav{
    padding: 26px 0;
    border-bottom:1px solid #EAE8F3;
}
.mainNav .navLogo{
    width: 69px;
    margin-right: 0;
    padding: 0;
}
.mainNav ul li a{
    font-size: 14px;
    font-weight: 400;
    font-family: var(--ubuntu);
    color:var(--brandColor) !important;

}

.mainNav .navBtn{
    display: flex;
    gap: 15px;
}
.mainNav .navBtn a{
    padding: 18px 26px;
    background: var(--brandColor);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    font-family: var(--ubuntu);
    color: #fff;
    transition: all .4s linear;
}
.mainNav .navBtn a:hover{
    background: #fff;
    color: var(--brandColor);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}

/* end nav */
/* banner start */
#banner{
    padding-top: 95px;
    position: relative;
}
.bannerText h1{
    width: 586px;
    font-size: 90px;
    font-weight: 300;
    font-family: var(--ubuntu);
    color: var(--brandColor);
    text-transform: uppercase;
}
.bannerText h1 span{
    font-weight: 700;
}
 .bannerText .baseLine{
    width: 335px;
    height: 4px;
    background: var(--brandColor);
    display: inline-block;
    margin-top: 93px;
}
.bannerText .para{
    width: 353px;
    font-size: 22px;
    font-weight: 400;
    font-family: var(--ubuntu);
    color: var(--brandColor);
    margin-top: 62px;
}
.bannerText .bannerBtn{
    margin-top: 51px;
    display: flex;
    gap: 50px;
}
/* bannerText button */
/* From Uiverse.io by cssbuttons-io */ 
button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
   }
   
   button.learn-more {
    width: 192px;
    height: 48px;
}
   
   button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 5px;
   }
   
   button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-size: 20px;
    font-weight: 500;
    font-family: var(--ubuntu);
    line-height: 32px;
    text-align: center;
    /* text-transform: uppercase; */
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text {
    color: #fff;
   }
  /* banner text button end  */
  .bannerText .bannerBtn p{
    width: 87px;
    font-size: 18px;
    font-weight: 500;
    font-family: var(--ubuntu);
    color: #414449;
  }
  .bannerText .bannerBtn .bannerRotate a img{
    animation: rotate 4s linear infinite;
   
  }
  @keyframes rotate {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
  }
  
  .bannerText .bannerBtn .bannerRotate{
    width: 80px;
    height: 80px;
    position: relative;
  }
  
  .bannerText .bannerBtn .bannerRotate .triangle{
    width: 4px;
    height: 7px;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  #banner .bannerScooterBg{
    width: 510px;
    position: absolute;
    top: 95px;
    right: 0;
  }
  #banner .bannerScooter {
    width: 856px;
    position: absolute;
    right: 0;
    top: 0;

  }
  /* END BANNER */

  /* START COUNTER */
  #Counter{
    padding-top: 206px;
    padding-bottom: 106px;
  }
  .singleCounter{
    width: 174px;
    height: 137px;
    border-radius: 7px;
    background: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .singleCounter h2{
    font-size: 18px;
    font-weight: 700;
    font-family: var(--ubuntu);
    color: var(--brandColor);
  }
  
  .singleCounter h2 span{
    font-size: 40px;
  }
  .singleCounter p{
    font-size: 13px;
    font-weight: 400px;
    font-family: var(--ubuntu);
    color: var(--brandColor);
  }
  /* end counter */

  /* start information */
  .infoRow .infoImg{
    width: 748px;
    margin-top: 22px;
  }
  .infoRow .infoText p img{
    width: 48px;
    height: 48px;
    margin-right: 18px;
  }
  .infoRow .infoText{
    margin-top: 143px;
  }
  .infoRow .infoText p{
    font-size: 20px;
    font-weight: 400;
    font-family: var(--ubuntu);
    color: var(--brandColor);
    
  }
  /* end information */
  /* start motor */
  .motorRow .motorImg{
    width: 1408px;
  }
  /* end motor */
  /* start accesories */
  #accesories{
    padding-top: 127px;
  }
  .accesoriesRow{
    margin-top: 112px;
  }
  .accesoriesRow .accesoriesTik p img{
    width: 49px;
    height: 49px;
    margin-right: 18px;
  }
  
  .accesoriesRow .accesoriesText{
    margin-top: 80px;
  }
  .accesoriesRow .accesoriesText h2{
    font-size: 50px;
    font-weight: 700;
    font-family: var(--ubuntu);
    color: var(--brandColor);
    margin-bottom: 33px;
  }
  
  .accesoriesRow .accesoriesTik p{
    font-size: 20px;
    font-weight: 400;
    font-family: var(--ubuntu);
    color: var(--brandColor);

  }
  .accesoriesRow .accesoriesImg{
    width: 878px;
  }
  /* end accesories */
  /* start shopping */
  #shopping{
    padding-top: 132px;
    padding-bottom: 127px;
    position: relative;
  }
.shoppingImg{
    width: 779px;
    position: absolute;
    left: 0;
    top: 0;
    
}
.shoppingText{
    margin-left: 876px;
}
  .shoppingText h2{
    font-size: 50px;
    font-weight: 700;
    font-family: var(--ubuntu);
    color: var(--brandColor);
    margin-bottom: 33px;
    

  }
  
  .shoppingText p img{
    width: 49px;
    height: 49px;
    margin-right: 18px;
  }
  .shoppingText p{
    font-size: 20px;
    font-weight: 400;
    font-family: var(--ubuntu);
    color: var(--brandColor);

  }
  .shoppingBtn{
    margin-top: 74px;
    display: flex;
    justify-content: center;
    
  }
  .shoppingBtn a{
    font-size: 30px;
    font-weight: 700;
    font-family: var(--ubuntu);
    color: var(--brandColor);
    padding: 29px 64px;
    border: 2px solid var(--brandColor);
    border-radius: 10px;

  }
  /* end shopping */
  /* start gallery */
  #gallery{
    padding-bottom: 127px;
  }
  .galleryRow{
    margin-top: 112px;
  }
  .galleryScooter{
    width: 633px;
    margin-top: 190px;
  }
  .galleryButton{
    margin-top: 55px;
  }
  .galleryBtn {
    width: 570px;
    height: 94px;
    border: 2px solid var(--brandColor);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 27px;

  }
  .galleryBtnM{
    margin-bottom: 0;
  }
  .galleryBtn a{
    font-size: 30px;
    font-weight: 700;
    font-family: var(--ubuntu);
    color: var(--brandColor);
  }
  .galleryQualityImg,.galleryPartsImg{
    width: 633px;
  }
  .galleryQualityImg{
    margin-bottom: 94px;
  }
  /* end gallery */
  /* start color */
  .colorRow{
    margin-top: 152px;
  }
  .slideImg{
    width: 100%;
  }
.colorNav img{
    width: 245px;
}
.colorMainSlider{
    position: relative;
}
.colorSlide2{
    position: relative;
    bottom: 100px;
}
/* end color */
/* start testimonials */
#testimonial{
    margin-top: 366px;
    padding-top: 76px;
    padding-bottom: 167px;
    background: #FAFAFA;
}
.mysliderItem{
    width: 360px;
    padding: 52px 22px 51px 34px;
    border: 1px solid #7E7E7E;
}
.mysliderItem .ratingItem li{
    list-style: none;
}
.mysliderItem .ratingItem{
    display: flex;
    justify-content: center;
    color: #FE8B75;
    margin-bottom: 12px;
}
.mysliderItem p{
    width: 304px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: var(--brandColor);
    font-family: var(--ubuntu);
    margin-bottom: 47px;
}

.mysliderItem .reviewProfile{
    display: flex;
    gap: 20px;
    justify-content: space-around;
}
.mysliderItem .reviewProfile .personImg img{
    width: 48px;
    height: 48px;
}
.mysliderItem .reviewProfile .personText h2{
    /* text-align: center; */
    font-size: 16px;
    font-weight: 500;
    font-family: var(--ubuntu);
    color: var(--brandColor);
    margin-bottom: 4px;
}

.mysliderItem .reviewProfile .personText p{
    text-align: start;
    font-size: 14px;
    font-weight: 400;
    font-family: var(--ubuntu);
    color: var(--brandColor);
    margin: 0;

}
.mySlider{
  position: relative;
}
.arrows{
    height: 42px;
    width: 42px;
    font-size: 14px;
    border:1px solid var(--brandColor);
    border-radius:50%;
    display:flex !important;
    justify-content:center;
    align-items:center;
    position: absolute;
  
    bottom:-70px;
    transition: all .4s linear;
}
.prr{
  left: 45%;
}
.nrr{
  right: 45%;
}

.arrows:hover{
  background: var(--brandColor);
  color: #fff;
  cursor: pointer;
}
/* end testimonial */
/* start subscribe */
#subscribe{
  padding-top: 121px;
  padding-bottom: 35px;
}
.subRow{
  margin-top: 59px;
}
.subscribeBox{
  width: 616px;
  height: 81px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.subscribeBox button{
  width: 196px;
  height: 81px;
  border-radius: 10px;
  background: var(--brandColor);
  font-size: 20px;
  font-weight: 400;
  font-family: var(--ubuntu);
  color: #FBFBFB;
  transition: all .4s linear;
}
.subscribeBox input{
  width: 58%;
  border-radius: 10px;
  background:#F5F5F5 ;
  border: none;
  outline: none;
  color:var(--brandColor);
  margin-left: 38px;
}
.subscribeBox input::placeholder{
  font-size: 20px;
  font-weight: 400;
  font-family: var(--ubuntu);
  padding-left: 38px;
}

.subscribeBox button:hover{
  background: #fff;
  border: 1px solid var(--brandColor);
  color: var(--brandColor);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
/* end subscribe */
/* start footer */
#footer{
  background: var(--brandColor);
  margin-top: 34px;
  padding-top: 99px;
  padding-bottom: 124px;
  position: relative;
}
.footerImg{
  width: 729px;
  position: absolute;
  top: -110px;
  left: 0;
}
.footerText{
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 105px;
  margin-left: 780px;

}
.footerText .Ft1 h2{
  font-size: 22px;
  font-weight: 700;
  font-family: var(--ubuntu);
  color: #FBFBFB;
  margin-bottom: 54px;
}

.footerText .Ft1 p{
  font-size: 16px;
  font-weight: 400;
  font-family: var(--ubuntu);
  color: #FBFBFB;
  margin-bottom: 45px;
  padding-right: 0 !important;
  display: flex;
  justify-content: start;
}

.footerText .Ft1 .special{
  margin-bottom: 0;
}
.footerIcon{
  margin-top: 20px;
  display: flex;
  gap: 20px;
  font-size: 32px;
  color: white;
}

.footerIcon a{
  color: #FBFBFB;
  transition: all .4s linear;
}

.footerIcon a:hover{
  transform: scale(1.15);
}
