/* link fonts */
@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
/* common css */
ol,ul{
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
}
img{
    width: 100%;
    vertical-align:middle;
}
.commonHead h1{
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    font-family: var(--ubuntu);
    color: var(--brandColor);
    margin-bottom: 34px;

}
.commonHead p{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    font-family: var(--ubuntu);
    color: var(--brandColor);
}
:root{
    --ubuntu:"Ubuntu", sans-serif;
    --brandColor:#42454A;
}
/* navbar */
.mainNav{
    padding: 26px 0;
    border-bottom:1px solid #EAE8F3;
}
.mainNav .navLogo{
    width: 69px;
    margin-right: 0;
    padding: 0;
}
.mainNav ul li a{
    font-size: 14px;
    font-weight: 400;
    font-family: var(--ubuntu);
    color:var(--brandColor) !important;

}

.mainNav .navBtn{
    display: flex;
    gap: 15px;
}
.mainNav .navBtn a{
    padding: 18px 26px;
    background: var(--brandColor);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    font-family: var(--ubuntu);
    color: #fff;
    transition: all .4s linear;
}
.mainNav .navBtn a:hover{
    background: #fff;
    color: var(--brandColor);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}

/* end nav */
/* banner start */
#banner{
    padding-top: 95px;
    position: relative;
}
.bannerText h1{
    width: 586px;
    font-size: 90px;
    font-weight: 300;
    font-family: var(--ubuntu);
    color: var(--brandColor);
    text-transform: uppercase;
}
.bannerText h1 span{
    font-weight: 700;
}
 .bannerText .baseLine{
    width: 335px;
    height: 4px;
    background: var(--brandColor);
    display: inline-block;
    margin-top: 93px;
}
.bannerText .para{
    width: 353px;
    font-size: 22px;
    font-weight: 400;
    font-family: var(--ubuntu);
    color: var(--brandColor);
    margin-top: 62px;
}
.bannerText .bannerBtn{
    margin-top: 51px;
    display: flex;
    gap: 50px;
}
/* bannerText button */
/* From Uiverse.io by cssbuttons-io */ 
button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
   }
   
   button.learn-more {
    width: 192px;
    height: 48px;
}
   
   button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 5px;
   }
   
   button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-size: 20px;
    font-weight: 500;
    font-family: var(--ubuntu);
    line-height: 32px;
    text-align: center;
    /* text-transform: uppercase; */
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text {
    color: #fff;
   }
  /* banner text button end  */
  .bannerText .bannerBtn p{
    width: 87px;
    font-size: 18px;
    font-weight: 500;
    font-family: var(--ubuntu);
    color: #414449;
  }
  .bannerText .bannerBtn .bannerRotate a img{
    animation: rotate 4s linear infinite;
   
  }
  @keyframes rotate {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
  }
  
  .bannerText .bannerBtn .bannerRotate{
    width: 80px;
    height: 80px;
    position: relative;
  }
  
  .bannerText .bannerBtn .bannerRotate .triangle{
    width: 4px;
    height: 7px;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  #banner .bannerScooterBg{
    width: 510px;
    position: absolute;
    top: 95px;
    right: 0;
  }
  #banner .bannerScooter {
    width: 856px;
    position: absolute;
    right: 0;
    top: 0;

  }
  /* END BANNER */

  /* START COUNTER */
  #Counter{
    padding-top: 206px;
    padding-bottom: 106px;
  }
  .singleCounter{
    width: 174px;
    height: 137px;
    border-radius: 7px;
    background: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .singleCounter h2{
    font-size: 18px;
    font-weight: 700;
    font-family: var(--ubuntu);
    color: var(--brandColor);
  }
  
  .singleCounter h2 span{
    font-size: 40px;
  }
  .singleCounter p{
    font-size: 13px;
    font-weight: 400px;
    font-family: var(--ubuntu);
    color: var(--brandColor);
  }
  /* end counter */

  /* start information */
  .infoRow .infoImg{
    width: 748px;
    margin-top: 22px;
  }
  .infoRow .infoText p img{
    width: 48px;
    height: 48px;
    margin-right: 18px;
  }
  .infoRow .infoText{
    margin-top: 143px;
  }
  .infoRow .infoText p{
    font-size: 20px;
    font-weight: 400;
    font-family: var(--ubuntu);
    color: var(--brandColor);
    
  }
  /* end information */
  /* start motor */
  .motorRow .motorImg{
    width: 1408px;
  }